* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'PT Serif', serif;
  background-color: #1f1f1f;
}
.clearfix::after {
  content: "";
  display: table;
  clear: both;
}
.block {
  padding: 2% 3%;
  margin: 0 auto;
  max-width: 960px;
}
.block__header {
  padding: 0 3% 2% 3%;
  margin: 0 auto;
  max-width: 960px;
}
.block-bg-white {
  background-color: #ffffff;
}
.block-brd-green {
  border-top: 5px solid #81b300;
}
header {
  display: flex;
  justify-content: space-between;
}
.header__logo a {
  text-decoration: none;
  color: #333333;
}
.header__logo h1 {
  font-weight: 400;
  font-size: 46px;
  margin-bottom: 10px;
  margin-top: 15%;
}
.header__logo p {
  color: #999999;
  font-size: 14px;
  font-weight: 400;
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.header__nav-icons {
  padding: 0 10px 10px 10px;
  background-color: #81b300;
  border-radius: 0 0 35px 35px;
}
.header__nav-icons .header__icons-bg {
  width: 32px;
  height: 32px;
  background-color: #1f1f1f;
  border-radius: 50%;
  padding: 5px;
  float: left;
}
.header__nav-icons .header__icons-bg a i {
  color: #ffffff;
  padding: 5px;
  font-size: 24px;
}
.header__nav-icons .header__icons-bg:not(:last-child) {
  margin-right: 10px;
}
.header__nav-icons .header__icons-bg:hover {
  background-color: #18adc2;
}
.header__nav-menu li {
  list-style: none;
  padding: 0 5px;
  float: left;
}
.header__nav-menu li a {
  text-decoration: none;
  color: #81b300;
  font-size: 14px;
}
.header__nav-menu li a:hover {
  color: #1f1f1f;
}
.header__nav-menu li:not(:first-child) {
  border-left: 1px solid #81b300;
}
.nav {
  background: #81b300;
  display: flex;
  justify-content: space-between;
}
.nav li {
  list-style: none;
  padding: 5px;
  float: left;
}
.nav li a {
  color: #ffffff;
  text-decoration: none;
}
.nav li a:hover {
  color: #000;
}
.nav li:not(:last-child) {
  margin-right: 20px;
}
/*SEARCH*/
.nav form p {
  height: 30px;
  position: relative;
  border: 1px solid #dddddd;
}
.nav form input {
  border: none;
  height: 100%;
}
.nav form input[type="search"] {
  width: 281px;
  color: #7f7f7f;
  font-size: 12px;
  font-weight: 400;
  padding-left: 10px;
}
.nav form input[type="submit"] {
  height: 30px;
  width: 66px;
  position: absolute;
  background-color: #ffffff;
  left: 210px;
  font-size: 12px;
  font-weight: bold;
  color: #81b300;
  border-left: 1px solid #dddddd;
}
.nav form input[type="submit"]:hover {
  color: #7f7f7f;
}
/*Slider*/
.slider .preview {
  width: 880px;
  height: 360px;
  display: flex;
  align-items: center;
  outline: 10px solid #c4c7c2;
  background-color: #1f1f1f;
  margin: 20px auto;
}
.slider .preview p {
  margin: 0 auto;
  color: #ffffff;
  font-size: 26px;
  font-weight: bold;
}
.servises,
.latest,
.footer__content {
  display: flex;
}
.servises {
  text-align: center;
  padding-bottom: 0;
}
.servises .servises__article {
  width: 25%;
  border-bottom: 1px solid #e2e2e2;
}
.servises .servises__article img {
  margin: 20px 0;
}
.servises .servises__article h2 {
  margin-bottom: 20px;
  color: #81b300;
  font-size: 20px;
  font-weight: 400;
}
.servises .servises__article p {
  font-size: 14px;
  margin-bottom: 50px;
}
.latest__article {
  width: 25%;
}
.latest__article .latest__article_frame {
  margin: 20px 0;
  width: 200px;
  height: 130px;
  background-color: #1f1f1f;
  outline: 4px solid #a8a6a6;
  display: flex;
  align-items: center;
}
.latest__article .latest__article_frame .latest__article_frame_p {
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  margin: 0 auto;
}
.latest__article h2 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
  color: #444444;
}
.latest__article p {
  font-size: 14px;
  margin-bottom: 10px;
}
.latest__article .latest__article_link {
  text-align: end;
  padding-right: 20px;
}
.latest__article .latest__article_link a {
  text-decoration: none;
  color: #81b300;
}
.latest__article .latest__article_link a:hover {
  color: #000;
}
.footer_copyrigt {
  display: flex;
  justify-content: space-between;
}
